@import "tailwindcss";

.font-title {
  font-family: var(--font-shrikhand), cursive;
}

.font-nav {
  font-family: var(--font-abhaya), serif;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-pretendard), system-ui, sans-serif;
}

.nav-underline {
  position: relative;
  display: inline-block;
}

.nav-underline::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.nav-underline:hover::after {
  transform: translateX(-50%) scaleX(1);
}
